<% include ./partials/header %>
<div class="container py-5">
  <h1 class="display-4 pb-5">Editing <%= event.name %></h1>
  <form action="/events/<%= event._id %>?_method=PUT" method="post">
    <div class="form-group">
      <label for="eventName">Rename Event</label>
      <input type="text" name="event[name]" class="form-control" id="eventName" aria-describedby="eventName" value="<%= event.name %>" required>
    </div>
    <div class="form-group">
      <label for="location">New location</label>
      <input type="text" name="event[location]" class="form-control" id="location" placeholder="Old location: <%= event.location %>" required>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="startDate">When does it start?</label>
          <input type="date" name="event[startDate]" class="form-control" id="startDate" min="2018-01-01" value="<%= event.startDate %>" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="startTime">At what time does it start?</label>
          <input type="time" name="event[startTime]" class="form-control" id="startTime" value="<%= event.startTime %>" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="endTime">At what time does it end?</label>
          <input type="time" name="event[endTime]" class="form-control" id="endTime" value="<%= event.endTime %>" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="endDate">When does it end?</label>
          <input type="date" name="event[endDate]" class="form-control" id="endDate" value="<%= event.endDate %>" required>
        </div>
      </div>
    </div>
    <input type="submit" class="btn btn-primary"></input>
    <a href="/" class="btn btn-warning">Go Back</a>
  </form>
</div>
<script src="/scripts/date.js" charset="utf-8"></script>
<% include ./partials/footer %>
